{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
{% include "base/navigation.html" with is_home=1 %}
<div class="row">
	<div class="four columns" style="padding-left: 0 !important">
		<section>
			<ul class="nav-bar">
				<li class="nolink">
					<a href="#">{% trans 'Connexion' %}</a>
				</li>
			</ul>
			<div class="panel">
				<p>
					{% trans "Veuillez vous identifier pour accéder à Skwissh." %}
				</p>
				{% if skwissh_demo %}
				<p>
					{% trans "Sur ce site de demo, vous pouvez vous connecter avec " %}  <code>test</code> / <code>test</code>.
				</p>
				{% endif %}
				<form method="post" action="{% url login %}">
					{% csrf_token %}
					<label for="username">{% trans "Nom d'utilisateur" %}</label>
					<input type="text" class="input-text" id="username" name="username" {% if skwissh_demo %}value='test'{% endif %}/>
					<label for="password">{% trans 'Mot de passe' %}</label>
					<input type="password" class="input-text" id="password" name="password" {% if skwissh_demo %}value='test'{% endif %}/>
					<input class="small secondary button radius" type="submit" value="{% trans "Se connecter" %}..." />
					<input type="hidden" name="next" value="{% url server-list %}" />
					{% if form.errors %}
					{% for error, desc in form.errors.iteritems %}
					<div class="alert-box alert">
						{{ desc }}
					</div>
					{% endfor %}
					{% endif %}
				</form>
				<hr />
				<ul style="padding-left:50px;">
					<li>
						<a style="color: #638703 !important;" href="http://rsaikali.github.com/django-skwissh/" target="_blank">Github page</a>
					</li>
					<li>
						<a style="color: #638703 !important;" href="https://github.com/rsaikali/django-skwissh" target="_blank">Github source</a>
					</li>
					<li>
						<a style="color: #638703 !important;" href="http://pypi.python.org/pypi/django-skwissh/" target="_blank">Python Package Index</a>
					</li>
					<li>
						<a style="color: #638703 !important;" href="http://www.djangopackages.com/packages/p/django-skwissh/" target="_blank">Django Packages</a>
					</li>
					<li>
						<a style="color: #638703 !important;" href="https://twitter.com/skwissh" target="_blank">Twitter @Skwissh</a>
					</li>
				</ul>
			</div>
		</section>
	</div>
	<div class="eight columns" style="padding-right: 0 !important">
		<section>
			<ul class="nav-bar">
				<li class="nolink">
					<a href="#">{% trans "Skwissh en action" %}</a>
				</li>
			</ul>
			<div class="panel">
				<div id="slidemo">
				  	<img src="{{ STATIC_URL }}skwissh/images/skwissh/demo1.png" alt="Image Demo 1" />
				  	<img src="{{ STATIC_URL }}skwissh/images/skwissh/demo2.png" alt="Image Demo 2" />
				  	<img src="{{ STATIC_URL }}skwissh/images/skwissh/demo3.png" alt="Image Demo 3" />
				  	<img src="{{ STATIC_URL }}skwissh/images/skwissh/demo4.png" alt="Image Demo 4" />
				  	<img src="{{ STATIC_URL }}skwissh/images/skwissh/demo5.png" alt="Image Demo 5" />
				  	<img src="{{ STATIC_URL }}skwissh/images/skwissh/demo6.png" alt="Image Demo 6" />
				  	<img src="{{ STATIC_URL }}skwissh/images/skwissh/demo7.png" alt="Image Demo 7" />
				  	<img src="{{ STATIC_URL }}skwissh/images/skwissh/demo8.png" alt="Image Demo 8" />
				</div>
			</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="twelve columns" style="padding-left: 0 !important; padding-right: 0 !important;">
		<section>
			<ul class="nav-bar">
				<li class="nolink">
					<a href="#">{% trans "Qu'est ce que Skwissh ?" %}</a>
				</li>
			</ul>
			<div class="panel">
				<p>
					{% trans "Skwissh est une application Django pour monitorer vos serveurs à distance en utilisant du SSH." %}
				</p>
				<p>
					{% trans "En arrière plan, Skwissh utilise Python Fabric (http://fabfile.org) pour exécuter des commandes SSH, récupérer leurs sorties et historiser les résultats. Les mesures sont prises toutes les minutes." %}
				</p>
				<p>
					{% trans "Côté application web, Skwissh permet de présenter toutes les historiques des mesures sous différentes formes (graphiques en ligne, histogrammes, camemberts, sorties textuelles)." %}
				</p>
				<p>
					{% trans "Plusieurs sondes sont fournies avec Skwissh (testées sous Ubuntu 12.04) : CPU, Swap, WaitIO, mémoire, réseau..." %}
				</p>
				<p>
					{% trans "Mais vous pouvez également ajouter vos propres sondes personnalisées" %} !
				</p>
			</div>
		</section>
	</div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
   $(window).load(function() {
       $('#slidemo').orbit({
       	directionalNav: false,
       	fluid: '15x6',
       });
   });
</script>
{% endblock javascript %}