{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
	{% include "base/navigation.html" %}
	{% for probe in probes %}
		{% include "section-probe.html" %}
	{% endfor %}
{% endblock content %}

{% block container %}
	{% if user.is_staff %}
		{% include "modal-update-probe.html" %}
		{% for probe in probes %}
			{% include "modal-delete-probe.html" %}
		{% endfor %}
		{% include "modal-add-probe.html" %}
	{% endif %}
{% endblock container %}

{% block javascript %}
	{% if probe_form.errors %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#add-probe').reveal();
		}); 
	</script>
	{% endif %}
	{% for form in probe_formset %}
		{% if form.errors %}
			<script type="text/javascript">
				$(document).ready(function() {
					$('#edit-probe-{{ form.id.value }}').reveal();
				}); 
			</script>
    	{% endif %}
	{% endfor %}	
{% endblock javascript %}