{% load i18n %}
<section id='section-{{ probe.id }}'>
	<ul class="nav-bar">
		<li><a class="bigger" href="#section-{{ probe.id }}">{{ probe.display_name }}</a></li>
		{% if probe.graph_type.name == 'linegraph' or probe.graph_type.name == 'bargraph' %}
		<li><a class='period period-{{ probe.id }}' data-period='last' href="#">{% trans 'Dernière mesure' %}</a></li>
		<li class="active"><a class='period period-{{ probe.id }}' data-period='hour' href="#">{% trans 'Dernière heure' %}</a></li>
		<li><a class='period period-{{ probe.id }}' data-period='day' href="#">{% trans 'Dernière journée' %}</a></li>
		<li><a class='period period-{{ probe.id }}' data-period='week' href="#">{% trans 'Dernière semaine' %}</a></li>
		<li><a class='period period-{{ probe.id }}' data-period='month' href="#">{% trans 'Dernier mois' %}</a></li>
		{% endif %}
	</ul>
	<div class="panel graph">
		{% if probe.graph_type.name == 'linegraph' or probe.graph_type.name == 'bargraph' or probe.graph_type.name == 'pie' %}
		<a class='right download' href="#" onclick="javascript: window.open(jqplotToImg($('#graph-{{ probe.id }}')))">{% trans 'Télécharger le graphique...' %}</a>
		{% endif %}	
		<div id="detail-{{ probe.id }}">
			<p class="waiting-title">{% trans 'Chargement des données en cours...' %}<p>
			<div class="waiting"></div>
			<div id="graph-{{ probe.id }}"></div>
		</div>
		{% if probe.graph_type.name == 'linegraph' or probe.graph_type.name == 'bargraph' %}
		<div class="display summary" id="summary-{{ probe.id }}"></div>
		{% endif %}
	</div>
</section>
