{% load i18n %}
<section id='section-{{ probe.id }}'>
	<ul class="nav-bar">
		<li><a class="bigger" href="#section-{{ probe.id }}">{{ probe.display_name }}</a></li>
		{% ifnotequal probe.graph_type.name 'text' %}
		<li{% if default_view == "last" %} class="active"{% endif %}><a class='period period-{{ probe.id }}' data-period='last' href="#">{% trans 'Dernière mesure' %}</a></li>
		<li{% if default_view == "hour" %} class="active"{% endif %}><a class='period period-{{ probe.id }}' data-period='hour' href="#">{% trans 'Dernière heure' %}</a></li>
		<li{% if default_view == "day" %} class="active"{% endif %}><a class='period period-{{ probe.id }}' data-period='day' href="#">{% trans 'Dernière journée' %}</a></li>
		<li{% if default_view == "week" %} class="active"{% endif %}><a class='period period-{{ probe.id }}' data-period='week' href="#">{% trans 'Dernière semaine' %}</a></li>
		<li{% if default_view == "month" %} class="active"{% endif %}><a class='period period-{{ probe.id }}' data-period='month' href="#">{% trans 'Dernier mois' %}</a></li>
		{% endifnotequal %}
	</ul>
	<div class="panel graph">
		{% ifnotequal probe.graph_type.name 'text' %}
		<div class="right graphtypes">
			<form class="custom">
				<select style="display:none;" data-probe-id="{{ probe.id }}" id="graphtypeDropdown-{{ probe.id }}">
					{% for graphtype in graphtypes %}
					{% ifnotequal graphtype.name "text" %}
					<option {% ifequal graphtype.name probe.graph_type.name %}selected{% endifequal %}>{{ graphtype.name }}</option>
					{% endifnotequal %}
					{% endfor %}
				</select>
				<div class="custom dropdown">
	  				<a href="#" class="current">{{ probe.graph_type.name }}</a>
	  				<a href="#" class="selector"></a>
	  				<ul>
	  					{% for graphtype in graphtypes %}
	    				<li>{{ graphtype.name }}</li>
	    				{% endfor %}
	  				</ul>
				</div>
			</form>
		</div>
		<a class='right download' href="#" onclick="javascript: window.open(jqplotToImg($('#graph-{{ probe.id }}')))">{% trans 'Télécharger le graphique...' %}</a>
		{% endifnotequal %}
		<div id="detail-{{ probe.id }}">
			<p class="waiting-title">{% trans 'Chargement des données en cours...' %}<p>
			<div class="waiting"></div>
			<div id="graph-{{ probe.id }}"></div>
		</div>
		{% ifnotequal probe.graph_type.name 'text' %}
		<div class="display summary" id="summary-{{ probe.id }}"></div>
		{% endifnotequal %}
	</div>
</section>
