{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
	{% include "base/navigation.html" with nb_mesures=server.measure_set.count %}
	{% for probe in server.probes.all %}
		{% include "section-graph.html" %}
	{% endfor %}
{% endblock content %}

{% block container %}
	{% if user.is_staff %}
		{% if form.errors %}
			{% with server_form=form %}
			{% include "modal-edit-server.html" %}
			{% endwith %}
		{% else %}
			{% include "modal-edit-server.html" %}
		{% endif %}
	{% endif %}
{% endblock container %}

{% block javascript %}
	{% if form.errors %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#edit-server').reveal();
		}); 
	</script>
	{% endif %}	
	{% include "skwissh_graphs.js" %}
{% endblock javascript %}
